# OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build/
*.byte
*.native
setup.data
setup.log
.merlin
*.install
_opam/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

# ReScript
.bsb.lock
lib/bs/
*.bs.js

# Webpack
/public/bundle.js

# Nix
result
result-*
.direnv/

# Editor
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
